<header>
     <div class="container">
    <div class="row">
        <div class="col-md-12 text-right login-button">
            <button type="button" class="btn btn-primary">login</button>
        </div>
    </div>
</div>
  <h1>MURALS</h1>
  <p class="text-center">welcome guest</p>
</header>
<main>
  <div class="input-group search-form">
    <input id="search-input" class="form-control" type="text" placeholder="Search" aria-label="Search" />
      <button type="button" id="guest-search-button" class="btn btn-primary">
        <i class="fas fa-search"></i>
  </div>
</main>