<div class="background flex-column justify-space-around">
  <header class="display-flex justify-space-between align-center p-2">
    <h1>v.i.e.w.s.</h1>
    <p class="pun">"bits and masterpieces..."</p>
  </header>
  <main>
    <div class="loginFormDiv container">
      <form class="login-form">
        <div class="mb-3">
          <label for="email-login" class="form-label color-text">email:</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label color-text">password:</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary login-main-color">login</button>
      </form>
      <div class="register">
        <p class="color-text">not registered?<a href="/signup" class="loginLinks boldFont"><span class="boldFont">
              register now!</span></a></p>
        <a href="/guest" class="loginLinks boldFont">continue as guest</a>
      </div>
    </div>
  </main>
  <footer>
  </footer>
</div>


<script src="/js/login.js"></script>
