<header>
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-right nav-bar">
        <button type="button" id="home" class="btn btn-primary home-button align-right search-button-color"><a
            href="/home/users/:id" class="color-text-links">home</a></button>
        <button type="button" id="logout" class="btn btn-primary align-right search-button-color">logout</button>
      </div>
    </div>
    <h1>murals</h1>
    <p class="pun">"not for the paint of heart..."</p>
    {{!-- <h1 class="text-center">welcome</h1> --}}
  </div>
</header>
<main>
  <div class="input-group search-form">
    <input id="search-input" class="form-control" type="text" placeholder="Search" aria-label="Search" />
  </div>
  <div class="container">
    <div class="row">
      <div class="bunchaSearchBtns col text-center">
        <button type="button" id="mural-search-button" class="btn btn-primary search-button-color" data-toggle="modal"
          data-target="#myModal">zip code</button>
        <button type="button" id="mural-title-button" class="btn btn-primary search-button-color">title</button>
        <button type="button" id="luckybutton" class="btn btn-primary align-center search-button-color">find one for
          me!</button>
      </div>
    </div>
  </div>
  <!-- Modal HTML -->
  <div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">mural results</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <!-- Content will be loaded here from "remote.php" file -->
          <p>we're so sad for you! there are no murals around your area :(</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-body container">
    <div class="left-body container">
      <div class="muralImgs container">
        <h2 class="muralImgsTitle">mural images</h2>

        <span %=typeof msg !='undefined' ? msg : '' %></span>
        <div class="imgUploadCont">
          <form class="imgUpload" action="/mural/:id" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn search-button-color">
                {{!-- <span>choose file</span> --}}
                <input name="myImage" type="file" placeholder="test">
              </div>
            </div>
            <button type="submit" class="btn search-button-color">upload image</button>
          </form>
        </div>
        <br>
      </div>
      <div class="muralInfo container">
        <h2 class="muralInfoTitle">mural information</h2>

        {{!-- I PUT THIS TABLE HERE HEHEHEH --}}
        <table class="table-section2">
          <tbody id="tablebody">
          </tbody>
        </table>
        <br>
      </div>
    </div>

    <div class="right-body container">
      <div class="reviews container">
        <h2 class="reviewsTitle">reviews</h2>

        {{#each reviews as |review|}}
        <div>
          <div>
            <h5>
              {{review.review}}
            </h5>
            <p>review by: {{review.name}}</p>
          </div>
        </div>
        {{/each}}

        <form class="rateMe1 text-center">
          <label for="exampleFormControlTextarea1" class="form-label">leave a review below</label>
          <textarea id="commentInput" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <div class="submitCenter text center">
            <button type="sumbit" id="commentSubmit"
              class="commentSubmit btn btn-primary text-center search-button-color">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/js/mural.js"></script>
<script src="/js/logout.js"></script>