<header>
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-right nav-bar">
        <button type="button" id="home" class="btn btn-primary home-button align-right search-button-color"><a
            href="/home/users/:id" class="color-text-links">home</a></button>
        <button type="button" id="logout" class="btn btn-primary align-right search-button-color">logout</button>
      </div>
    </div>
    <h1>v.i.e.w.s.</h1>
    <p class="pun">"not for the paint of heart..."</p>
  </div>
</header>

<main>
  <div class="input-group search-form">
    <input id="search-input" class="form-control" type="text" placeholder="search by..." aria-label="Search" />
  </div>
  <div class="container">
    <div class="row">
      <div class="bunchaSearchBtns col text-center">
        <button type="button" id="mural-search-button" class="btn btn-primary search-button-color" data-toggle="modal"
          data-target="#myModal">zip code</button>
        <button type="button" id="mural-title-button" class="btn btn-primary search-button-color">title</button>
        <button type="button" id="luckybutton" class="btn btn-primary align-center search-button-color">find one for
          me!</button>
      </div>
    </div>
  </div>
  <div class="main-body container">
    <div class="left-body container">
      <div class="muralImgs container">
        <h2 class="muralImgsTitle">mural images</h2>
        {{!-- begin cloudinary code --}}
        <div class="cloudinaryCon">
          <button id="upload_widget" class="btn btn-primary search-button-color">upload image</button>
        </div>
        <div id="cloudImg">
        </div>
        <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
        <script type="text/javascript">
          var myWidget = cloudinary.createUploadWidget({
            cloudName: 'dqjpkb3xf',
            uploadPreset: 'wk3fcptv'
          }, (error, result) => {
            if (!error && result && result.event === "success") {
              console.log(result.info);
              $("#cloudImg").append(`<img src="${result.info.secure_url}" alt="text" width="X" height="X">`);
            }
          }
          )

          document.getElementById("upload_widget").addEventListener("click", function () {
            myWidget.open();
          }, false);
        </script>
        {{!-- end cloudinary code --}}

      </div>
      <div class="muralInfo container">
        <h2 class="muralInfoTitle">mural information</h2>

        {{!-- below appends markup from ajax call in mural.js --}}
        <table class="table-section2">
          <tbody id="tablebody">
          </tbody>
        </table>
        <br>
      </div>
    </div>

    <div class="right-body container">
      <div class="reviews container">
        <h2 class="reviewsTitle">reviews</h2>

        {{#each reviews as |review|}}
        <div>
          <div>
            <h5>
              {{review.review}}
            </h5>
            <p>review by: {{review.name}}</p>
          </div>
        </div>
        {{/each}}

        <form class="rateMe1 text-center">
          <label for="exampleFormControlTextarea1" class="form-label">leave a review below</label>
          <textarea id="commentInput" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <div class="submitCenter text center">
            <button type="sumbit" id="commentSubmit"
              class="commentSubmit btn btn-primary text-center search-button-color">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/js/mural.js"></script>
<script src="/js/logout.js"></script>