<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Chicago Murals</h1>
      <p class="pun">"Lorem ipsum......"</p>
    </header>
    <main>
      <div class="signupFormDiv container">
         <form class="signup-form">
            <div class="mb-3">
              <label for="email-signup" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email-login" aria-describedby="signupemailHelp">
            </div>
            <div class="mb-3">
              <label for="password-signup" class="form-label">Password:</label>
              <input type="password" class="form-control" id="password-signup">
            </div>
            <div class="mb-3">
              <label for="repeat-password-signup" class="form-label">Repeat Password:</label>
              <input type="password" class="form-control" id="repeat-password-signup">
            </div>
            <p>You already signup? <a href="url">Sign in</a></p>
            <button type="submit" class="btn btn-primary">Signup</button>
         </form>        
        </div>
      </div>
    </main>
    <footer>
    </footer>
  </div>