<div class="flex-column justify-space-around">
  <header class="display-flex justify-space-between align-center p-2">
    <h1>chicago murals</h1>
    <p class="pun">"you sure do look the art...."</p>
  </header>
  <main>
    <div class="signupFormDiv container">
      <form class="signup-form">
        <div class="mb-3">
          <label for="userId-signup" class="form-label color-text">name:</label>
          <input type="userId" class="form-control" id="name-signup" aria-describedby="signupemailHelp">
        </div>
        <div class="mb-3">
          <label for="email-signup" class="form-label color-text">email:</label>
          <input type="email" class="form-control" id="email-signup" aria-describedby="signupemailHelp">
        </div>
        <div class="mb-3">
          <label for="password-signup" class="form-label color-text">password:</label>
          <input type="password" class="form-control " id="password-signup">
        </div>
        <p class="color-text">already signed up? <a class="loginLinks boldFont" href="/login">sign in</a></p>
        <button type="submit" class="btn btn-primary login-main-color">signup</button>
      </form>
    </div>
</div>
</main>

<script src="/js/signup.js"></script>

<footer>
</footer>
</div>
