/* header,\
.mural:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

/* body {
  background-color: #5215fc;
} */

* {
  font-family: 'Mohave', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  /* padding-top: 100px; */
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

body{
  background-color: #D7E5F0;
}

html{
  background-color: #D7E5F0;
}

#logout {
  margin: 20px 0 20px 0;
}

#tablebody {
  text-align: center;
}

.table-section2 {
  display: flex;
  justify-content: center;
}

.pun {
  font-size: 20px;
  text-align: center;
  color: lightslategray;
}
.btn{
  background-color: lightslategray ;
  border-color: #D7E5F0;
  color: #D7E5F0;
}
.btn:hover{
  background-color: #D7E5F0;
  color: lightslategrey
}

.commentSubmit:hover{
  color: white
}
.search-button-color:hover{
  color: lightslategrey;
  border-color: black;
  background: white;
}

.login-main-color {
  color: lightslategrey;
  background-color: #D7E5F0;
  border-color: black;
}

.login-main-color:hover{ 
  color: lightslategrey;
  border-color: black;
  background: white;
}

.color-text-links{
  color: white;
} 

.color-text-links:hover{
  text-decoration:none;
  color: lightslategrey;
}

.boldFont {
  font-weight:bold;
}

.signup-submit:hover{
  background-color: lightslategrey;
  color: white;
}
.loginFormDiv {
  text-align: center;
  width: 30%;
  padding: 70px 0px 70px 0px;
  border: 2px solid black;
  border-radius: 5%;
  background-color: white;
}

.signupFormDiv {
  text-align: center;
  width: 30%;
  padding: 70px 0px 70px 0px;
  border: 2px solid black;
  border-radius: 5%;
  background-color: white;
}

.muralStuff{
  font-weight: bold;
}

.reviews{
  background-color:white ;
  text-align: center;
}

.muralImgs{
  background-color: white;
}

.testing {
  display: flex;
  width: 100%;
  /* border: 2px solid black; */
}

.search-form {
  margin: auto;
  width: 50%;
  /* border: 2px solid black; */
}

.form-control {
  text-align: center;
  margin-right: 5px;
}

.mb-3 {
  margin: auto;
  width: 75%;
}

.register {
  text-align: center;
  padding-top: 15px;
  color: black;
}

.register a {
  text-decoration: none;
}
.main-body {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 2px solid black; */
}

.left-body {
  width: 180%;
  /* border: 2px solid black; */
}

/* .right-body {
  border: 2px solid black;
} */

.muralImgs {
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.muralInfo {
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 20px 0 0 0;
  text-align: left;
  background-color: white;
}

.searchMuralInfo {
  width: 60%;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 20px 0 20px 0;
  text-align: left;
  background-color: white;
}

.reviews {
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
}

.muralImgsTitle {
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 25px;
}

.muralInfoTitle {
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.reviewsTitle {
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 25px;
}

.ratingDiv {
  text-align: center;
  padding: 10px 0 10px 0;
  /* border: 2px solid black; */
}

.rateMe1 {
  padding-top: 20px;
}

.reviewForm {
  text-align: center;
}

.commentSubmit {
  margin: 10px 0 10px 0;
}

.bunchaSearchBtns {
  margin-top: 20px;
}

.imgUpload {
  display: flex;
  justify-content: center;
}

.file-field {
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .imgUpload {
    width: auto;
    display: block;
  }

  .loginFormDiv {
    width: 90%;
  }

  .signupFormDiv {
    width: 90%;
  }

  .muralSearch2 {
    width: 90%;
  }

  .search-form {
    width: 85%;
  }

  .main-body {
    display: flex;
  }

  .main-body {
    display: block;
  }

  .left-body {
    width: 100%;
  }

  .right-body {
    width: 100%;
  }

  .searchMuralInfo {
    width: 90%;
  }
}
